{% extends 'layout.html.twig' %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <link href="{{ base_url() ~ '/assets/calendar.css' }}" rel="stylesheet">
{% endblock %}

{% block body %}
    {% for year, months in calendar %}
        {% for month, weeks in months %}
            <table class='calendar'>
                <thead>
                <tr>
                    <th colspan='7'>{{ year }}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td colspan='7' class='monthName'>{{ monthNames[month] }}</td>
                </tr>
                <tr>
                    {% for dayName in dayNames %}
                        <td class='dayName'>{{ dayName }}</td>
                    {% endfor %}
                </tr>

                {% for week, days in weeks %}
                    {% set dayPaddingCount = 7 - days|length %}
                    {% set isFirstWeekOfMonth = loop.first %}
                    {% set isLastWeekOfMonth = loop.last %}
                    <tr>
                        {% if isFirstWeekOfMonth and dayPaddingCount > 0 %}
                            {% for dayIndex in 1..dayPaddingCount %}
                                <td class='day gray'>
                                    {{ days|first|date_modify('-' ~ (dayPaddingCount - dayIndex + 1) ~' day')|date('j') }}
                                </td>
                            {% endfor %}
                        {% endif %}

                        {% for dayIndex, day in days %}
                            <td class='day'>{{ dayIndex }}</td>
                        {% endfor %}

                        {% if isLastWeekOfMonth and dayPaddingCount > 0 %}
                            {% for dayIndex in 1..dayPaddingCount %}
                                <td class='day gray'>
                                    {{ dayIndex }}
                                </td>
                            {% endfor %}

                            <tr>
                                {% for dayIndex in 7..13 %}
                                    {% set dayOfNextWeek = days|first|date_modify('+' ~ dayIndex ~ ' days') %}

                                    <td class='day gray'>
                                        {{ dayOfNextWeek|date('j') }}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        {% endfor %}
    {% endfor %}
{% endblock %}
